/** My CSS */ 
body {
    /*background-color: #3498db;*/
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   font-family: 'PT Sans', sans-serif;
}

.navbar{
    font-size: 18px;
}

.vertically-aligned {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    align-self: flex-start;
    align-self: flex-end;
}

.main-title {
    text-align: center;
    color: white;
}