/** My CSS */ 
body {
    /*background-color: #3498db;*/
    margin-top: 50px;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    font-size: 18px;
}

.vertically-aligned {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    align-self: flex-start;
    align-self: flex-end;
}

.main-title {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 400px;
    color: white;
}

.row {
    margin: 0;
}